.photo {
    position: absolute;
    top: 15%;
    left: 40%;
}

.photo img {
    height: 650px;
    width: 800px;
    -webkit-filter: drop-shadow(5px 0px 5px #e44d4d);
    filter: drop-shadow(130px 15px 4px #c55b5b);
}

.info {
    position: relative;
    width: 100%;
    padding-left: 350px;
    height: 75vh;
}

.container1 {
    overflow: hidden;
    height: 89vh;
     background-image: linear-gradient(to right top, #f2ebe2, #e5cab4, #dba78d, #d1826f, #c55b5b);
}

.input {
    margin: 10px;
    padding: 10px;
    margin-left: 2px;
    background: #E8F0FE;
    border: 1px solid #e9e6e6;
    border-radius: 4px;
    width: 120px;
    height: 55px;
}
.info h1{
    position: relative;
    left: 26%;
    font-family: 'Times New Roman', Times, serif;
}
.tab td{
    width: 70%;
}
.tab label{
    font-size: 40px;
}
button {
    background: #5a1fe0;
    padding: 14px;
    color: #fff;
    outline: none;
    border: 0px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 30px;
    position: relative;
    left: 16%;
}

.tab {
    margin-top: 10%;
}